body {
    background-color: #8cc0de;
    font-family: 'press Start 2p', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.battle-screen{
    width: 600px;
    border: 4px solid black;
    background-color: #f0f0f0;
    padding: 20px;
}


.status{
    border: 3px solid black;
    background-color: white;
    padding: 10px;
    margin: 15px 0;
    box-shadow: 3px 3px 0 black;
}


.enemy{
    text-align: left;
}

.player{
    text-align: right;
}

.hp-bar{
    width: 100%;
    height: 15px;
    background-color: #ddd;
    border: 2px solid black;
    margin-top: 5px;
}


.hp-fill{
    height: 100%;
    background-color: #00c000;
    transition: width 0.5s ease;
}